html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo Tamma 2", cursive;
}

m-heading {
    font-family: "Roboto slab", serif;
}

navigation-link {
    border: 2px solid transparent;
}

navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #24f4d5;
    transition: 0.6s ease;
}